version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: .
      args:
        - API_KEY=${API_KEY}
        - SUPABASE_URL=${SUPABASE_URL}
        - SUPABASE_KEY=${SUPABASE_KEY}
    ports:
      - "3000:80"
    environment:
      - API_KEY=${API_KEY}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
    depends_on:
      - backend
    restart: always
